// Font Family
$font: "Urbanist", sans-serif;

// Color Palette

// Light
$light-100: #ecebff;
$light-200: #b1adff;
$light-300: #7770ff;

// Primary
$primary: #89fc00;

// Secondary
$secondary: #6610f2;

// Error
$error: #e4c1f9;

// Accents
$accent-100: #f4e409;
$accent-200: #01f4ab;
$accent-300: #00e8fc;
$accent-400: #ff74d4;

// Dark
$dark-100: #31315e;
$dark-200: #232343;
$dark-300: #151528;
