<div class="app">
  <div class="left">
    <div class="hero">
      <h1 class="title">{{ title }}</h1>
      <h4 class="subtitle">
        Inspire your friends with inspirational and motivational quotes
      </h4>
      <app-button
        class="btn-hero"
        [text]="btnText"
        (click)="toggleForm()"
      ></app-button>
      <div *ngIf="showForm" class="form-container">
        <h4 class="subtext">Share your quote</h4>
        <app-form
          (addQuote)="toggleForm()"
          (addQuote)="addNewQuote($event)"
        ></app-form>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="quote" *ngFor="let quote of sortList; let i = index">
      <div class="desc">
        <h2 class="title">{{ quote.description }}</h2>
        <p appBackground class="text">- {{ quote.author }} -</p>
      </div>
      <div class="details">
        <app-quote-details
          *ngIf="quote.showDetails"
          [quote]="quote"
          (isDelete)="deleteQuote($event, i)"
        ></app-quote-details>
        <div class="cta">
          <p class="cta-text">{{ quote.showLikes }}</p>
          <fa-icon
            (click)="addLikes(i)"
            appBackground
            class="icon"
            [icon]="['fas', 'thumbs-up']"
          ></fa-icon>
          <p class="cta-text">{{ quote.showDislikes }}</p>
          <fa-icon
            class="icon"
            (click)="addDislikes(i)"
            [icon]="['fas', 'thumbs-down']"
          ></fa-icon>
          <app-button
            class="btn-cta"
            (click)="toggleDetails(i)"
            text="details"
          ></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
