<div class="quote" *ngFor="let quote of quotes; let i = index">
  <div class="left">
    <h2 class="title">{{ quote.description }}</h2>
    <p class="text">- {{ quote.author }} -</p>
  </div>
  <div class="right">
    <app-quote-details
      *ngIf="quote.showDetails"
      [quote]="quote"
    ></app-quote-details>
    <div class="cta">
      <fa-icon class="icon" [icon]="['fas', 'thumbs-up']"></fa-icon>
      <fa-icon class="icon" [icon]="['fas', 'thumbs-down']"></fa-icon>
      <app-button class="btn-cta" text="details"></app-button>
    </div>
  </div>
</div>
