<div class="top-quote">
  <div class="left">
    <h2 class="title">
      Be happy with what you have, while working for what you want.
    </h2>
    <p class="text">- Hellen Keller -</p>
  </div>
  <div class="right">
    <app-top-quote-details></app-top-quote-details>
    <div class="cta">
      <fa-icon class="icon" [icon]="['fas', 'thumbs-up']"></fa-icon>
      <fa-icon class="icon" [icon]="['fas', 'thumbs-down']"></fa-icon>
      <app-button class="btn-cta" text="details"></app-button>
    </div>
  </div>
</div>
