<div class="top-quote">
  <div class="left">
    <h2 class="title">
      Be happy with what you have, while working for what you want.
    </h2>
    <p class="text">- Hellen Keller -</p>
  </div>
  <div class="right">
    <div class="details"></div>
    <div class="cta">
      <div class="top">
        <p class="date">27 APRIL 2022</p>
        <div class="user">
          <fa-icon class="delete" [icon]="['fas', 'user-circle']"></fa-icon>
          <p class="name">Anna</p>
          <p class="votes">24</p>
          <p class="text">Votes</p>
        </div>
      </div>
      <div class="bottom">
        <app-button text="details"></app-button>
      </div>
    </div>
  </div>
</div>
