<form class="form" (ngSubmit)="submitQuote()" #quoteForm="ngForm">
  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
    <p *ngIf="name.errors?.['required']">name is required</p>
    <p *ngIf="name.errors?.['minlength']">
      name must be at least 4 characters long
    </p>
  </div>
  <div *ngIf="author.invalid && (author.dirty || author.touched)" class="error">
    <p *ngIf="author.errors?.['required']">author is required</p>
    <p *ngIf="author.errors?.['minlength']">
      author must be at least 4 characters long
    </p>
  </div>
  <div
    *ngIf="description.invalid && (description.dirty || description.touched)"
    class="error"
  >
    <p *ngIf="description.errors?.['required']">description is required</p>
    <p *ngIf="description.errors?.['minlength']">
      description must be at least 8 characters long
    </p>
  </div>
  <div class="form-group">
    <div class="name-group">
      <input
        class="input"
        type="text"
        placeholder="Enter name"
        id="name"
        name="name"
        [(ngModel)]="newQuote.name"
        #name="ngModel"
        minlength="4"
        autocomplete="off"
        required
      />
    </div>
    <div class="author-group">
      <input
        class="input"
        type="text"
        placeholder="Enter author"
        id="author"
        name="author"
        [(ngModel)]="newQuote.author"
        #author="ngModel"
        minlength="4"
        autocomplete="off"
        required
      />
    </div>
  </div>
  <div class="quote-group">
    <textarea
      class="input"
      placeholder="Enter quote"
      id="description"
      name="description"
      [(ngModel)]="newQuote.description"
      #description="ngModel"
      minlength="8"
      autocomplete="off"
      required
    ></textarea>
  </div>
  <app-button text="submit quote"></app-button>
</form>
<!-- [text]="submitText" (click)="toggleSubmit()" -->
