<form class="form">
  <div class="form-group">
    <div class="name-group">
      <input
        class="input"
        type="text"
        placeholder="Enter name"
        id="name"
        autocomplete="off"
        required
      />
    </div>
    <div class="author-group">
      <input
        class="input"
        type="text"
        placeholder="Enter author"
        id="name"
        autocomplete="off"
        required
      />
    </div>
  </div>
  <div class="quote-group">
    <textarea class="input" required id="quote" name="quote"></textarea>
  </div>
  <app-button text="submit quote"></app-button>
</form>
