<form class="form" (ngSubmit)="submitQuote()" #quoteForm="ngForm">
  <div class="form-group">
    <div class="name-group">
      <input
        class="input"
        type="text"
        placeholder="Enter name"
        id="name"
        name="name"
        [(ngModel)]="newQuote.name"
        #name="ngModel"
        autocomplete="off"
        required
      />
    </div>
    <div class="author-group">
      <input
        class="input"
        type="text"
        placeholder="Enter author"
        id="author"
        name="author"
        [(ngModel)]="newQuote.author"
        #author="ngModel"
        autocomplete="off"
        required
      />
    </div>
  </div>
  <div class="quote-group">
    <textarea
      class="input"
      placeholder="Enter quote"
      required
      id="description"
      name="description"
      [(ngModel)]="newQuote.description"
      #description="ngModel"
      autocomplete="off"
      required
    ></textarea>
    <input
      class="input"
      type="date"
      id="creationDate"
      name="creationDate"
      [(ngModel)]="newQuote.creationDate"
      #creationDate="ngModel"
      autocomplete="off"
      required
    />
  </div>
  <app-button text="submit quote"></app-button>
</form>
